* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.cercaFilm{
  margin:10px 10px;
}
.cercaFilm input{
  margin-right: 10px;
  width: 500px;
  padding: 5px;
}
.cercaFilm button{
  padding: 5px;
  border-radius: 5px;
}
