/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
/* ricerca dei film e delle serie tv */
.cercaFilm{
  margin:10px 15px;
}
.cercaFilm input{
  margin-right: 10px;
  width: 500px;
  padding: 5px;
}
.cercaFilm button{
  padding: 5px;
  border-radius: 5px;
}
.contenitoreLista{
    margin: 10px;
}
/* zona delle liste film e serie tv */
.listaFilm ,
.listaSerie {
 padding: 6px;
 margin-left: 15px;
}
.listaFilm li,
.listaSerie li{
  list-style-type: none;
}
.listaFilm .categoria,
.listaSerie .categoria{
  list-style-type: circle;
}
/* lingua immagini */
.lingua img{
  height: 15px;
  width: 25px;
}
/* stelle voto */
.stelleVoto .fas{
  color: yellow;
}
