<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>vue-boolflix</title>
  </head>
  <body>
    <div id="app">
      <!-- sezione con logo e ricerca -->
      <div class="logoCerca">
        <div class="logo">
          <img src="img/logo.png" alt="logo">
        </div>
        <div class="cerca">
          <input type="search" v-model="cerca" @keyup.enter="genereFilm" placeholder="Inserisci il nome del film o della serie tv" name="" value="">
          <button type="button" @click="genereFilm" name="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <!-- sezione contenitore delle card film e serie tv -->
      <div class="contenitoreLista">
        <!-- lista dei film -->
        <div class="lista" v-for="film in films">
          <h4 class="categoria">Film</h4>
          <div class="stelleVoto">
            <i class="fas fa-star" v-for="i in stelleVoto(film.vote_average)"></i>
            <i class="far fa-star" v-for="i in (5 - stelleVoto(film.vote_average))"></i>
          </div>
          <div class="trama">
              <p v-if="film.overview != ''">{{ film.overview }}</p>
              <p v-else>Trama del film non presente nel database</p>
          </div>
            <ul>
              <li class="locandina">
                <img v-if="film.poster_path":src="`http://image.tmdb.org/t/p/w342/${film.poster_path}`" alt="locandina film">
                <img v-else src="img/notfound.png" alt="locandina not found">
              </li>
              <li><h3>{{ film.title }}</h3></li>
              <li class="titoloOriginale">{{ film.original_title }}</li>
            </ul>
            <div class="lingua">
              <!-- v-if per la lingua che con it & en deve essere sostituita dalla bandiera corrispondente -->
              <img v-if="bandiereScelta(film.original_language)" :src="`./img/${film.original_language}.png`" alt="bandiera della lingua">
              <div v-else class="lingua">
                {{ film.original_language }}
              </div>
            </div>
        </div>
        <!-- lista delle serie tv -->
        <div class="lista" v-for="serie in serieTv">
          <h4 class="categoria">Serie Tv</h4>
          <!-- stelle per il voto con funz stelleVoto-->
          <div class="stelleVoto">
          <!--stelle scure per voto-->
            <i class="fas fa-star" v-for="i in stelleVoto(serie.vote_average)"></i>
          <!--stelle chiare differenza tra voto (stelle scure) e voto massimo mettendo stelle chiare  -->
            <i class="far fa-star" v-for="i in (5 - stelleVoto(serie.vote_average))"></i>
          </div>
          <div class="trama">
              <p v-if="serie.overview != ''">{{ serie.overview }}</p>
              <p v-else>Trama della serie non presente nel database </p>
          </div>
          <ul>
            <li class="locandina">
              <img v-if="serie.poster_path":src="`http://image.tmdb.org/t/p/w342/${serie.poster_path}`" alt="locandina serie tv">
              <img v-else src="img/notfound.png" alt="locandina not found">
            </li>
            <li><h3>{{ serie.name }}</h3></li>
            <li class="titoloOriginale">{{ serie.original_name }}</li>
            <!-- v-if per la lingua che con it & en deve essere sostituita dalla bandiera corrispondente -->
            <li class="lingua">
              <img v-if="bandiereScelta(serie.original_language)" :src="`./img/${serie.original_language}.png`" alt="">
              <div v-else class="lingua">
                {{ serie.original_language }}
              </div>
            </li>
          </ul>
        </div>
          <h4 class="notfound" v-if="notfound === 'si'">La tua ricerca non ha dato nessun risultato </h4>
      </div>
    </div>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
