<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>vue-boolflix</title>
  </head>
  <body>
    <div id="app">
      <div class="contenitoreCerca">
        <div class="cercaFilm">
          <input type="search" v-model="cerca" placeholder="Inserisci il nome del film o della serie tv" name="" value="">
          <button type="button" @click="genereFilm" name="button">Search <i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="contenitoreLista">
        <div class="listaFilm" v-for="film in films">
          <ul>
            <li><h3>Film</h3></li>
            <li><h3>{{ film.title }}</h3></li>
            <li>Titolo originale: {{ film.original_title }}</li>
            <!-- v-if per la lingua che con it & en deve essere sostituita dalla bandiera corrispondente -->
            <li class="lingua"v-if="film.original_language === 'it'">Lingua: <img :src="`img/${film.original_language}.png`"></li>
            <li class="lingua"v-else-if="film.original_language === 'en'">Lingua: <img :src="`img/${film.original_language}.png`"></li>
            <li class="lingua" v-else-if="film.original_language !== 'en' && film.original_language !== 'it'">Lingua: {{ film.original_language }}</li>
            <li>Voto: {{ film.vote_average }}</li>
          </ul>
        </div>
        <div class="listaSerie" v-for="serie in serieTv">
          <ul>
            <li><h3>Serie Tv</h3></li>
            <li><h3>{{ serie.name }}</h3></li>
            <li>Titolo originale: {{ serie.original_name }}</li>
            <li class="lingua"v-if="serie.original_language === 'it'">Lingua: <img :src="`img/${serie.original_language}.png`"></li>
            <li class="lingua"v-else-if="serie.original_language === 'en'">Lingua: <img :src="`img/${serie.original_language}.png`"></li>
            <li class="lingua" v-else-if="serie.original_language !== 'en' && serie.original_language !== 'it'">Lingua: {{ serie.original_language }}</li>
            <li>Voto: {{ serie.vote_average }}</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
